---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-plex
  labels:
    type: media-plex
spec:
  capacity:
    storage: 250Gi
  accessModes:
    - ReadWriteMany
  iscsi:
     targetPortal: 10.0.0.11:3260
     iqn: iqn.2000-01.com.synology:crypteia.default-target.9ae28f60be2
     lun: 1
     fsType: 'ext4'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-plex
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 250Gi
  selector:
    matchLabels:
      type: media-plex
---